<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="king.zach.pynny">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllCategoriesActivity"
            android:label="@string/all_categories_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OneCategoryActivity"
            android:label=""
            android:parentActivityName=".AllCategoriesActivity" />
        <activity
            android:name=".AllWalletsActivity"
            android:label="@string/all_wallets_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OneWalletActivity"
            android:label=""
            android:parentActivityName=".AllWalletsActivity" />
        <activity
            android:name=".AllTransactionsActivity"
            android:label="@string/all_transactions_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OneTransactionActivity"
            android:parentActivityName=".AllTransactionsActivity" />
        <activity
            android:name=".AllBudgetsActivity"
            android:label="@string/all_budgets_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OneBudgetActivity"
            android:parentActivityName=".AllBudgetsActivity"></activity>
        <activity
            android:name=".CreateCategoryActivity"
            android:parentActivityName=".AllCategoriesActivity"></activity>
        <activity android:name=".CreateWalletActivity"></activity>
    </application>

</manifest>